
*{
    margin:0px;
    padding:0px;
}




/* Smartphones (smartphones) ----------- */
@media only screen and (min-width: 320px) and (max-width:420px) {
    .sub-header {
        height: 80px;
    }
    .me {
        width: 135px;
    }
    .content h1{
        font-size:15pt;
    }
    
}

/* Smartphones (smartphones) ----------- */
@media only screen and (min-width: 421px) and (max-width:450px) {
    .sub-header {
        height: 100px;
    }
    .me {
        width: 135px;
    }
    .content h1{
        font-size:15pt;
    }
    
}

/* Smartphones (smartphones) ----------- */
@media only screen and (min-width: 451px) and (max-width:470px) {
    .sub-header {
        height: 115px;
    }
    .me {
        width: 135px;
    }
    .content h1{
        font-size:15pt;
    }
    
}


/* Smartphones (tablets & pc) ----------- */
@media only screen and (min-width: 471px) and (max-width:530px) {
    .sub-header {
        height: 61px;
    }
    .me {
        width: 135px;
    }
    .content h1{
        font-size:15pt;
    }
    
    .text-border {
        width:250px ;
        height:30px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
    
}


/* Smartphones (tablets & pc) ----------- */
@media only screen and (min-width: 531px) and (max-width:540px) {
    .sub-header {
        height: 90px;
    }
    .me {
        width: 135px;
    }
    .content h1{
        font-size:15pt;
    }
    
    .text-border {
        width:250px ;
        height:30px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
    
}

/* Smartphones (tablets & pc 2) ----------- */
@media only screen and (min-width: 541px) and (max-width:600px) {
    .sub-header {
        height: 100px;
    }
    .me {
        width: 135px;
    }
    .content h1{
        font-size:15pt;
    }
    
    .text-border {
        width:250px ;
        height:30px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
    
}

/* Smartphones (tablets & pc 3) ----------- */
@media only screen and (min-width: 601px) and (max-width:670px) {
    .sub-header {
        height: 140px;
    }
    .me {
        width: 135px;
    }
    .content h1{
        font-size:15pt;
    }
    
    .text-border {
        width:250px ;
        height:30px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
    
}


/* Smartphones (tablets & pc 4) ----------- */
@media only screen and (min-width: 671px) and (max-width:750px) {
    .sub-header {
        height: 140px;
    }
    .me {
        width: 170px;
    }
    .content h1{
        font-size:15pt;
    }
    
    .text-border {
        width:250px ;
        height:30px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
    
}

/* Smartphones (tablets & pc 5) ----------- */
@media only screen and (min-width: 751px) and (max-width:800px) {
    .sub-header {
        height: 190px;
    }
    .me {
        width: 170px;
    }
    .content h1{
        font-size:15pt;
    }
    
    .text-border {
        width:250px ;
        height:30px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
    
}

/* Smartphones (tablets & pc 6) ----------- */
@media only screen and (min-width: 801px) and (max-width:880px) {
    .sub-header {
        height: 230px;
    }
    .me {
        width: 170px;
    }
    .content h1{
        font-size:15pt;
    }
    
    .text-border {
        width:250px ;
        height:30px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
    
}

/* Smartphones (tablets & pc 7) ----------- */
@media only screen and (min-width: 881px) and (max-width:950px) {
    .sub-header {
        height: 285px;
    }
    .me {
        width: 170px;
    }
    .content h1{
        font-size:15pt;
    }
    
    .text-border {
        width:250px ;
        height:30px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
    
}

/* Smartphones (tablets & pc 8) ----------- */
@media only screen and (min-width: 951px) and (max-width:1030px) {
    .sub-header {
        height: 330px;
    }
    .me {
        width: 170px;
    }
    .content h1{
        font-size:15pt;
    }
    
    .text-border {
        width:250px ;
        height:30px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
    
}

/* Smartphones (tablets & pc 9) ----------- */
@media only screen and (min-width: 1031px) and (max-width:1100px) {
    .sub-header {
        height: 380px;
    }
    .me {
        width: 170px;
    }
    .content h1{
        font-size:15pt;
    }
    
    .text-border {
        width:250px ;
        height:30px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
    
}

/* Smartphones (tablets & pc 10) ----------- */
@media only screen and (min-width: 1101px) and (max-width:1200px) {
    .sub-header {
        height: 435px;
    }
    .me {
        width: 170px;
    }
    .content h1{
        font-size:15pt;
    }
    
    .text-border {
        width:250px ;
        height:30px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
    
}


/* Smartphones (tablets & pc 11) ----------- */
@media only screen and (min-width: 1201px) and (max-width:1290px) {
    .sub-header {
        height: 500px;
    }
    .me {
        width: 170px;
    }
    .content h1{
        font-size:15pt;
    }
    
    .text-border {
        width:250px ;
        height:30px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
    
}





/* Smartphones (full pc & large screens) ----------- */

@media only screen and (min-width:1291px) {
    .sub-header {
        height: 430px;
    }
    .me {
        width:236px;
    }
    .content h1{
        font-size:30px;
        color:#ffffff; 
    }
    
    .text-border {
        width:400px ;
        height:40px;
        border:1px solid;
        margin: auto;
        color:#fff;
    }
    
}



    